@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#logo-navigation {
    font-family: economica, sans-serif;
    text-align: center;
}

/*logo and navigation*/

#logo {
    font-size: 48px;
    text-transform: uppercase;
}

#navigation {
    list-style-type: none;
}

/*images*/

.home-image {
    width: 825px;
    height: 450px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    text-align: center;
}

p {
    font-family: merriweather, sans-serif;
}