@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: auto 5%;
    padding: 32px;
}

#logo-navigation {
    font-family: economica, sans-serif;
    text-align: center;
}

/*logo and navigation*/

#logo {
    font-size: 48px;
    text-transform: uppercase;
}

#navigation {
    list-style-type: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-top-width: 50%;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: #3a3a3a;
    font-size: xx-large;
}

/*images*/

.home-image {
    width: 825px;
    height: 450px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.center {
    text-align: center;
}

p {
    font-family: merriweather, sans-serif;
    margin-top: 15px;
}

/*Opening hours*/

th {
    text-align: left;
}